.contact-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin-top: 25px;
}

.contact-container > h1 {
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 7px 7px 10px grey;
  color: gray;
  font-size: 3.5em;
  font-weight: 800;
  margin: 0 0 0 10%;
  text-shadow: 3px 3px black;
  width: 80%;
}

.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  size: 2em;
  padding: 20px;
  margin: 8px;
}

a > img {
  box-shadow: 5px 5px 8px black;
}
