.start-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20% 0 20%;
  padding: 0;
  height: 120vh;
}

.radios > span {
  color: purple;
  font-weight: 900;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-buttons {
  background: none;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 3px blue;
  color: green;
  font-weight: 900;
  padding: 5px;
  margin-top: 15px;
  width: 100px;
}
