.inputs-container {
  border-radius: 10px;
  color: red;
  display: flex;
  font-size: 1.3em;
  font-weight: 900;
  justify-content: center;
  margin: 180px 0 10px 0;
  overflow: hidden;
}

.unique-label {
  padding: 10px;
  width: 40%;
}
